<div class="navbar bg-base-200">
  <%= link_to t('defaults.title'), root_path, class: "btn btn-ghost normal-case text-xl" %>
  <div class="flex flex-none">
    <%= link_to t('defaults.user_new'), new_user_path, class: "btn btn-ghost normal-case text-base" %>
    <%= link_to t('defaults.login'), :login, class: "btn btn-ghost normal-case text-base" %></a>
    <%= link_to 'LINEログイン', auth_at_provider_path(provider: :line) %>
  </div>
</div>