<div class="mx-auto md:w-4/5 w-full">
  <div class="flex my-5">  
    <h1 class="font-bold text-4xl"><%= t('defaults.bookmarks') %></h1>
    <div class="ml-auto">
      <%= render 'shared/search', q: @q, url: bookmarks_posts_path %>
    </div>
  </div>
   <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
     <%= render 'posts', posts: @bookmark_posts %>
   </div>
   <%= paginate @bookmark_posts %>
</div>